# Ignore data folders
Data/
Dataset/

# Ignore notebook checkpoints
.ipynb_checkpoints/

# Ignore large files
*.zip
*.csv
*.txt

# Allow scripts (override ignore)
!scripts/*.py

# Python ignores
__pycache__/
*.pyc
